
@{
    ViewBag.Title = "Details";
}

<h2> User Details</h2>
<table class="table table-hover">
    <tbody class="table table-info">
        <tr>
            <th>User Id</th>
            <td>@Model.userId</td>
        </tr>
        <tr>
            <th>User Email</th>
            <td>@Model.email</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>@Model.password</td>
        </tr>
        <tr>
            <th>Roll Name</th>
            <td>@Model.rolename</td>
        </tr>
    </tbody>
</table>
